<!-- <div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ questionText }}</h5>

            <ul class="list-group list-group-flush mt-3">
                
                <li class="list-group-item" *ngFor="let option of options" style="cursor: pointer;"
                    (click)="selectOption(option)">
                    {{ option }}
                    <input type="radio">
                </li>
            </ul>
        </div>
    </div>
</div> -->


<div class="simulado-container">
  <!-- <h1>{{ simulado.nome }}</h1> -->

  <div class="questao-card" *ngFor="let q of questions; let i = index">
    <h2>Questão {{ i + 1 }}</h2>
    <p class="texto">{{ q.texto }}</p>

    <div class="opcoes">
      <label *ngFor="let opcao of q.options">
        <input type="radio" name="questao{{i}}">
        {{opcao.texto}}
      </label>
    </div>
  </div>

  <button class="btn-finalizar">Finalizar</button>
</div>
