<!-- <div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ questionText }}</h5>

            <ul class="list-group list-group-flush mt-3">
                
                <li class="list-group-item" *ngFor="let option of options" style="cursor: pointer;"
                    (click)="selectOption(option)">
                    {{ option }}
                    <input type="radio">
                </li>
            </ul>
        </div>
    </div>
</div> -->


<div class="simulado-container">
  <div class="questao-card">
    <div>⏰: {{ formatarTempo(tempoRestante) }}</div>
    <!-- <h1>{{ simulado.nome }}</h1> -->
    <!-- <div class="questao-card" *ngFor="let q of questions; let i = index"> -->
    <!-- <h2>Questão {{ i + 1 }}</h2>
    <p class="texto">{{ q.texto }}</p> -->
    <h2>Questão {{ currentIndex + 1 }}</h2>
    <p class="texto">{{ questions[currentIndex].texto }}</p>

    <div class="opcoes">
      <label *ngFor="let opcao of questions[currentIndex].options">
        <input type="radio" name="questao{{currentIndex}}">
        {{ opcao.texto }}
      </label>
    </div>
  </div>

  <div class="navegacao">
    <button (click)="anterior()" [disabled]="currentIndex === 0">Anterior</button>
    <button (click)="proxima()" [disabled]="currentIndex === questions.length - 1">Próxima</button>
  </div>

  <button class="btn-finalizar" *ngIf="currentIndex === questions.length - 1">
    Finalizar
  </button>
  <!-- <button class="btn-finalizar">Finalizar</button> -->
</div>