<footer>
  <div class="footer">
    <div class="simuQuest-footer">
      <ul>
        <li>
          <p>© 2025 SimuQuest</p>
        </li>
      </ul>
    </div>

    <div class="social-media">
      <a href="https://github.com/clayton-oly" target="_blank" title="GitHub">
        <span class="icon">
          <img src="assets/imgs/footer-imgs/github.png" alt="GitHub" />
        </span>
      </a>
      <a
        href="https://www.linkedin.com/in/clayton-oly/"
        target="_blank"
        title="LinkedIn"
      >
        <span class="icon">
          <img src="assets/imgs/footer-imgs/linkedin.png" alt="LinkedIn" />
        </span>
      </a>
    </div>
  </div>
</footer>
