<div class="simulado-container" *ngIf="questions?.length">

  <!-- Pergunta atual -->
  <div class="questao-card">

    <!-- Timer -->
    <div class="timer-question">

      <div class="question-number">
        <ul>
          <li>
            <p>Pergunta {{currentIndex + 1}} de {{questions.length}}</p>
          </li>
        </ul>
      </div>

      <div class="timer">
        <div class="timer-icon">
          <span class="material-symbols-outlined">alarm</span>
        </div>
        <div class="time-remaining">
          {{ formatarTempo(tempoRestante) }}
        </div>

      </div>
    </div>

    <div class="text-question">
      <ul>
        <li>
          <p>{{ currentIndex + 1 }}. {{ perguntaAtual.texto }}</p>
        </li>
      </ul>
    </div>

    <!-- Opções -->
    <div class="question-alternatives">
      <label *ngFor="let opcao of perguntaAtual.options">
        <input type="radio" name="questao{{ currentIndex }}" [checked]="opcao.id === opcaoSelecionadaAtual"
          (change)="marcarOpcao(perguntaAtual.id, opcao.id)">
        {{ opcao.texto }}
      </label>
    </div>


    <!-- Alerta -->
    <div class="alerta-question-alternative">
      <ul>
        <li>
          <p [hidden]="selectOptionObrigatorio">Selecione pelo menos uma opcao</p>
        </li>
      </ul>
    </div>

    <!-- Navegação -->
    <div class="navigation">
      <button class="navigation-btn-anterior" (click)="anterior()" [disabled]="currentIndex === 0">Anterior</button>
      <button class="navigation-btn-proxima" (click)="proxima()"
        [disabled]="currentIndex === questions.length - 1">Próxima</button>
    </div>

    <!-- Botão Finalizar -->
    <div class="finish">
      <button (click)="finalizar()" class="finish-btn-finalizar" *ngIf="currentIndex === questions.length - 1">
        Finalizar
      </button>
    </div>

  </div>

</div>