.simulado-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.questao-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.opcoes label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px 0;
  cursor: pointer;
}

.opcoes input {
  margin-right: 10px;
}

.btn-finalizar {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#navegacao {
  display: flex ;
  justify-content: flex-end;
}

.navegacao {
  display: flex ;
  width: 20%;
  padding: 15px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

