/* home.component.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* final season*/

/*season Root*/
:root {
  --clr-ruby: #cf0638;
  --clr-coral: #fa6632;
  --clr-sun: #fecd23;
  --clr-jade: #0a996f;
  --clr-navy: #0a6789;
  --clr-snow: #ffffff;
  --clr-smoke: #475d65;
  --clr-ebony: #001c26;
  --clr-onyx: #000000;
}

/* final season*/

/*season Intro*/
.central {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;

  .central-container {
    display: flex;
    flex-direction: column;
    gap: 5em;

    .text-img-central {
      display: flex;
      align-items: center;

      .texts-central {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .title-central {
          color: var(--clr-ebony);
          font-size: 3em;
          font-weight: bold;
        }

        .text-central {
          & ul {
            max-width: 40em;

            & li {
              color: var(--clr-ebony);
            }
          }
        }
      }

      .img-central {
        & img {
          max-width: 15em;
        }
      }
    }


    .tests {
      display: grid;
      gap: 2em;

      .title-test {
        & ul {
          & li {
            & p {
              color: var(--clr-ebony);
              font-size: 1.8em;
              font-weight: bold;
            }
          }
        }

      }

      .simulados-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5em;

        .simulado-card {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: #fff;
          padding: 1.5rem;
          border-radius: 12px;
          text-align: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          .title-exam {
            & ul {
              & li {
                & p {
                  font-weight: bold;
                  color: var(--clr-navy);
                  padding: 1em;
                }
              }
            }
          }

          .img-exam {
            padding: .5em;

            & img {
              width: 8em;
            }
          }

          .description-exam {
            margin-top: auto;

            & ul {
              & li {
                & p {
                  color: var(--clr-navy);
                  padding: .5em;
                }
              }
            }
          }

          .btn-exam {
            margin-top: 0.5rem;

            .btn-exam-simulado {
              background: var(--clr-navy);
              border: none;
              color: #fff;
              padding: 0.6rem 1.2rem;
              border-radius: 0.4em;
              cursor: pointer;
              transition: background 0.3s ease, color 0.3s ease, transform 0.1s ease;
              transform: translateZ(0);


              &:hover {
                background: var(--clr-jade-one);
                color: var(--clr-ebony);
                transform: scale(1.05);
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
              }
            }
          }
        }
      }

    }
  }
}

/* final season*/


/*season Intro*/
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;


  .titles {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .titles-intro {
      & ul {
        & li {
          display: flex;
          flex-direction: column;
          gap: 1em;

          .title-intro {
            color: var(--clr-ebony);
            font-size: 1.8em;
            font-weight: bold;
          }
        }
      }
    }

    .sub-titles {

      & ul {
        & li {
          .sub-title-one-intro {}

          .sub-title-two-intro {
            max-width: 800px;
          }
        }
      }
    }
  }




  .img-intro {
    & img {
      max-width: 30em;
    }
  }

  .frase-intro {
    display: flex;
  }
}

/* final season*/


/*season Guidelines*/
.guidelines {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 10em;

  .title-guidelines {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-ebony);
    font-size: 1.8em;
    font-weight: bold;
  }

  .cards-orientacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4em 3em;
    max-width: 80em;

    .card-one {
      display: flex;
      gap: 2em;

      .img-card-one {}

      .text-card-one {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-one {
              font-weight: bold;

            }

            .text-one {
              display: flex;
            }
          }
        }
      }

    }

    .card-two {
      display: flex;
      gap: 2em;

      .img-card-two {}

      .text-card-two {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-two {
              font-weight: bold;

            }

            .text-two {
              display: flex;
            }
          }
        }
      }

    }

    .card-three {
      display: flex;
      gap: 2em;

      .img-card-three {}

      .text-card-three {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-three {
              font-weight: bold;

            }

            .text-three {
              display: flex;
            }
          }
        }
      }

    }

    .card-for {
      display: flex;
      gap: 2em;

      .img-card-for {}

      .text-card-for {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-for {
              font-weight: bold;
            }

            .text-for {
              display: flex;
            }
          }
        }
      }
    }


  }

  .btn-orientacao {
    .btn-provas {
      background: var(--clr-navy);
      border: none;
      padding: 1em;
      border-radius: 0.5em;
      color: var(--clr-snow);
    }
  }
}

/* final season*/


/*season Request*/
.request {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  justify-content: space-evenly;

  .titles-request {
    display: flex;
    flex-direction: column;
    gap: 2em;

    & ul {
      & li {
        .title-request {
          display: flex;
          justify-content: center;
          color: var(--clr-ebony);
          font-size: 2em;
          font-weight: bold;
        }
      }
    }

    .sub-titles {
      .sub-title-request-one {
        display: flex;
        justify-content: center;
        color: var(--clr-ebony);
        text-align: center;


      }

      .sub-title-request-two {
        display: flex;
        justify-content: center;
        color: var(--clr-ebony);
        text-align: center;


      }
    }
  }

  .information-form-request {
    display: flex;
    gap: 10em;

    .informations-request {
      display: flex;
      width: 100%;
      white-space: nowrap;

      & ul {
        justify-content: start;

        & li {
          display: flex;
          flex-direction: column;
          gap: 1em;
          width: 100%;


          .requst-simulados {
            background: var(--clr-ruby);
            color: var(--clr-snow);
            padding: 0.8em;
            border-radius: 0.5em;
          }

          .requst-provas {
            background: var(--clr-sun);
            color: var(--clr-snow);
            padding: 0.8em;
            border-radius: 0.5em;
          }

          .requst-questoes {
            background: var(--clr-navy);
            color: var(--clr-snow);
            padding: 0.8em;
            border-radius: 0.5em;
          }

          .requst-exercicios {
            background: var(--clr-jade);
            color: var(--clr-snow);
            padding: 0.8em;
            border-radius: 0.5em;
          }
        }
      }
    }

    .form-request {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .input-nome-request {
        background: var(--clr-snow);
        padding: 1em;
        border-radius: 0.5em;
        border-width: 0.1em;
        border-style: solid;
        border-color: var(--clr-navy);
        width: 400px;
      }

      .input-email-request {
        background: var(--clr-snow);
        padding: 1em;
        border-radius: 0.5em;
        border-width: 0.1em;
        border-style: solid;
        border-color: var(--clr-navy);
      }

      .input-message-request {
        background: var(--clr-snow);
        padding: 1em;
        border-radius: 0.5em;
        border-width: 0.1em;
        border-style: solid;
        border-color: var(--clr-navy);
        // overflow: hidden;
        resize: none;

      }

      .btn-form-request {
        display: flex;
        align-items: center;
        justify-content: end;
        .btn-request{
          background: var(--clr-navy);
          border: none;
          color: #fff;
          padding: 0.6rem 3rem;
          border-radius: 0.4em;
          cursor: pointer;
          transition: background 0.3s ease, color 0.3s ease, transform 0.1s ease;
          transform: translateZ(0);


          &:hover {
            background: var(--clr-jade-one);
            color: var(--clr-ebony);
            transform: scale(1.05);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          }
        }

      }
    }

  }

  .final-texts {
    & ul {
      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;

        .final-text-request {}

        .final-message-request {}
      }
    }
  }
}

/* final season*/