<h1 class="resultado">{{total}}: {{resul.toFixed(1)}}%</h1>

<div class="simulado-container" *ngIf="resultadoDetalhado.length">

  <div class="questao-card" *ngFor="let q of resultadoDetalhado; let i = index">
    <h2>Questão {{ i + 1 }}</h2>
    <p class="texto">{{ q.pergunta }}</p>

    <div class="opcoes">
      <label *ngFor="let o of q.options"
             [ngClass]="{
               'correta': o.correta,
               'selecionada-errada': o.selecionada && !o.correta
             }">
        <input class="radioBtn" type="radio" [checked]="o.selecionada" disabled>
        {{ o.texto }}
        <span *ngIf="o.selecionada">
          {{ o.correta ? '✔️' : '❌' }}
        </span>
        <span *ngIf="!o.selecionada && o.correta">✔️</span>
      </label>
    </div>

    <p class="explicacao"><strong>Explicação:</strong> {{ q.explicacao }}</p>
  </div>

  <button routerLink="/home" class="btn-finalizar">Voltar para Home</button>
</div>
